
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/static/index.css")
    title Mr.Coffee Schedule
  body
    div(class="body-container")
      header
        nav
          img(class="nav-logo" src="/static/assets/full_logo_dark.png" alt="mr.coffee white logo")
          a(href="/") Home
      main
        block content
