doctype html
html
  head
    // TODO: Research why link is not working
    // link(rel='stylesheet', href='../index.css')
    style
      include ../index.css
    title mr.coffee schedule website
  body
    header
      h1 mr.coffee schedule website
    main
      block content
    footer
    script
      // include script.js
